src/Stars.Data.Tests/Resources/DLR/TERRASAR-X/L1B/data/TSX1_SAR__EEC_RE___SM_S_SRA_20210922T205440_20210922T205448/TSX-1.SAR.L1B/TSX1_SAR__EEC_RE___SM_S_SRA_20210922T205440_20210922T205448/SUPPORT/antennaPhasePattern.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- CHANGE HISTORY 
date - author: changes
Version 1.0
24.11.2009 - T. Fritz: initial version
-->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DRAoffset">
		<xs:annotation>
			<xs:documentation>SRA, DRAFore, DRAAft: indicates geometric (ATI) layers (not quad pol channels)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SRA"/>
				<xs:enumeration value="DRAFore"/>
				<xs:enumeration value="DRAAft"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="antennaPhasePattern">
		<xs:annotation>
			<xs:documentation>This XML file contains additional meta data of level 1 processed SAR products describing the applied antenna phase pattern correction for each elevation beam, polarization and DRA offset.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="polLayer"/>
				<xs:element ref="beamID"/>
				<xs:element ref="DRAoffset"/>
				<xs:element ref="phase" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="beamID">
		<xs:annotation>
			<xs:documentation>Mnemonics for the elevation beams. Beam IDs of each COSAR file for ScanSAR SSC complex product only.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phase">
		<xs:annotation>
			<xs:documentation>
the phase value that has been projected onto a coarse DEM and then subtracted from the image data during the phase pattern correction step. The values corresponding to an image position can be interpolated from these sampled values and the elevation angles given in the geo grid file.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:float">
					<xs:attribute name="angle" type="xs:float" use="required">
						<xs:annotation>
							<xs:documentation>
elevation angle as defined for the elevation beam gain patterns. The angles corresponding to an image position can be interpolated from the geo grid file.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="polLayer">
		<xs:annotation>
			<xs:documentation>HH, HV, ...</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="VV"/>
				<xs:enumeration value="HH"/>
				<xs:enumeration value="HV"/>
				<xs:enumeration value="VH"/>
				<xs:enumeration value="UNDEFINED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
