src/Stars.Data.Tests/Resources/DLR/TERRASAR-X/L1B/data/TSX1_SAR__EEC_RE___SM_S_SRA_20180929T214604_20180929T214612/TSX-1.SAR.L1B/TSX1_SAR__EEC_RE___SM_S_SRA_20180929T214604_20180929T214612/SUPPORT/focussedDopplerCentroid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Helko Breit (DLR/IMF (Institut für Methodik der Fernerkundung)/SV(Signal Verarbeitung)) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="burst" type="xs:int" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="polLayer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="VV"/>
				<xs:enumeration value="HH"/>
				<xs:enumeration value="HV"/>
				<xs:enumeration value="VH"/>
				<xs:enumeration value="UNDEFINED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="point">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="value" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Focussed Doppler centroid frequency in Hz for same position in each burst (if applicable).</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:double">
								<xs:attribute name="burst" type="xs:int" use="optional">
									<xs:annotation>
										<xs:documentation>index of burst starting with 1.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="range" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="far"/>
						<xs:enumeration value="mid"/>
						<xs:enumeration value="near"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="azimuth" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="center"/>
						<xs:enumeration value="start"/>
						<xs:enumeration value="stop"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="numberOfBursts" type="xs:int"/>
	<xs:element name="focussedDopplerCentroid">
		<xs:annotation>
			<xs:documentation>This XML file contains additional meta data of level 1 processed SAR products describing the Doppler centroid frequencies of the focussed SSCs for each elevation beam, polarization, DRA offset and burst. It is given for 3x3 points in the complex CoSAR bursts and listed for each burst.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="polLayer">
					<xs:annotation>
						<xs:documentation>HH, HV, ...</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="beamID">
					<xs:annotation>
						<xs:documentation>Mnemonics for the elevation beams. Beam IDs of each COSAR file for ScanSAR SSC complex product only.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DRAoffset">
					<xs:annotation>
						<xs:documentation>SRA, DRAFore, DRAAft: indicates geometric (ATI) layers (not quad pol channels)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="numberOfBursts">
					<xs:annotation>
						<xs:documentation>Number of bursts in each image layer of the beams. For Stripmap and Spotlight modes, the number of bursts is one.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="point" maxOccurs="9">
					<xs:annotation>
						<xs:documentation>The point in the focussed burst image for which the Doppler value is given. The 3x3 points are indicated by their position in range (near, mid, far) and azimuth (start, center, stop).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="beamID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DRAoffset">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SRA"/>
				<xs:enumeration value="DRAFore"/>
				<xs:enumeration value="DRAAft"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
